.emailStatus {
  font-size: 1.5rem;
  color: aliceblue;
  margin-bottom: 0.5rem;
}

.email {
}

.date {
}

.input,
.button1,
.button2 {
  padding: 0.25rem 1rem;
}

.button1 {
}

.button2 {
}

.input {
}
